[Unit]
Description=Automatically start the configuration web app
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Desktop/PFE/main.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

